/* =========================
   SECOND PROJECT
========================= */

.project-two {
    margin-top: 25px;
}

/* =========================
   HOVER EFFECTS
========================= */

.btn {
    transition:
        transform 0.25s ease,
        background 0.25s ease,
        border-color 0.25s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

.primary:hover {
    background: #9278ff;
}

.secondary:hover {
    border-color: var(--accent);
}

.project-card,
.skill-grid article,
.info-card {
    transition:
        transform 0.25s ease,
        border-color 0.25s ease;
}

.project-card:hover,
.skill-grid article:hover,
.info-card:hover {
    transform: translateY(-5px);
    border-color: #3b4660;
}

.tags span {
    transition: 0.2s ease;
}

.tags span:hover {
    border-color: var(--accent);
    color: white;
}
